- @page_title  = "Awake - Films"
- @body_class  = nil
- @banner      = true

%h1
  %span=@page_title

%h2 Awake Credits 

%table
  %tr
    %td.first-cell
      Genre:
    %td
      Drama
    %td.badge(rowspan="2" align="right")
      %img(src="/images/court-metrage.png")

  %tr
    %td.first-cell 
      Director:
    %td 
      Hunter Richards
  %tr
    %td.first-cell
      Writers:
    %td 
      Hunter Richards (screenplay), Rebekah Keith (story)
  %tr
    %td.first-cell 
      Producers:
    %td 
      Lee Cleary, Adam Neumann, Rebekah Keith, Tara Smith
  %tr
    %td.first-cell 
      Cast:
    %td 
      Rosario Dawson, Rebekah Keith, Sean Lennon

%h2 Synopsis

%p
  Rosario Dawson co-stars with Rebekah Keith and Sean Lennon in <em>Awake</em>, an original short about a woman's journey from the depths of pain and hopelessness into a world of clarity and light. Ara (Keith), having witnessed more horror then she can cope with, has lost all meaning in life until a very close friend (Dawson) and a mystical sage (Lennon) screw her head on right. Spanning the spectrum from profoundly serious to quirky and comical, <em>Awake</em> sets out to show us that despite the magnitude of our pain, there is always a bigger picture, we just need to be able to see it.
