- @page_title  = "Company"
- @body_class  = nil

%h1
  %span=@page_title

%h2
  Team

%dl.module-styling-1 
  %dt Rebekah Keith:
  %dd Founder/Producer


%dl.module-styling-1 
  %dt Adam Neumann:
  %dd Partner/Executive Producer 

%dl.module-styling-1 
  %dt Tara Smith:  
  %dd Producer 


