- @page_title  = "Home Page"
- @body_class  = nil
- @banner      = true

%h1
  %span="Send Us Your Script&#33" 

%p
  We are very interested in producing films with social and/or spiritual relevance. If you feel you have something that can help change the world, please submit script here:

%dl.module-styling-3
  %dt Send Your Script to
  %dd 
    %a(href="mailto:info@bohemefilms.com")
      Info@bohemefilms.com
