- @page_title  = "Mission"
- @body_class  = nil

%h1
  %span=@page_title

.page-rule

%p
  Bohème films was founded in 2010 with the intention of creating socially relevant and spiritually progressive films. With a long standing passion in bettering the world mixed with a profound awareness of the impact movies can have on audiences, we have chosen to create commercially popular films that captivate people and inspire them to grow.

