- @page_title  = "Press"
- @body_class  = nil

%h1
  %span=@page_title

%h2
  Corduroy Magazine

%img.fleft(src="/images/rebekah.jpg")

%p 
  “Born and raised in New York, Paltrow majored in economics, politics, and Buddhism at Cornell University but backed out of a career in international equities to pursue her dreams as an actress. The move paid off. After working alongside names like Sean Penn (in CIA thriller Fair Game) and Lucy Liu (in Nomads), Paltrow is producing her own series of smart, socially relevant films under her own company, "Bohème Films," a production house she launched this past year." 

%p
  %em
    –from an article written by Glynnis Mapp

%a.link-styling-1(href="http://www.corduroymag.com/")
  Click here to go to Corduroy’s site...
  
