%ul.navbar
  %li
    %a(href="/"){:class => navbar_class("home") }
      Home
  %li
    %a(href="/company/team"){:class => navbar_class("company") }
      Company 
    %ul
      %li
        %a(href="/company/team")
          Team
      %li
        %a(href="/company/mission")
          Mission
      %li
        %a(href="/company/contact")
          Contact
  %li
    %a(href="/films"){:class => navbar_class("films") }
      Films 
  %li
    %a(href="/press"){:class => navbar_class("press") }
      Press 
