%ul.navbar
  %li
    %a(href="/")
      Home
  %li
    %a(href="/company")
      Company 
    %ul
      %li
        %a(href="/mission")
          Mission
      %li
        %a(href="/contact")
          Contact
  %li
    %a(href="/films")
      Films 
  %li
    %a(href="/press")
      Press 
